/* Login */

#PLMText {
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
}

#PLMTextEnglish {
    -fx-font-family: Arial;
    -fx-font-weight: normal;
}

.loginContainer {
    -fx-background-color:  rgba(255, 255, 255, 0.87);
    -fx-background-radius:  15px;
}

#welcome {
    -fx-font-size: 40px;
}

.loginText {
    -fx-font-family: Arial;
}

.onPLMContainer {
    -fx-background-color:  rgba(255, 255, 255, 0.5);
    -fx-background-radius: 50px;
}

#loginButton {
    -fx-background-color: #9c0000;
    -fx-font-size: 15px;
}

#loginButton:hover{
    -fx-opacity: 0.9;
}


/* Student Dashboard */

.gridPane {
    -fx-background-color:  rgba(156, 0, 0, 0.8);
}

.toggle-button, #logoutButton {
    -fx-background-color:  rgba(156, 0, 0, 0.0);
    -fx-font-weight: bold;
    -fx-font-family: "Noto Sans";
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

.toggle-button:hover, #logoutButton:hover {
    -fx-background-color:  rgba(255, 28, 28, 0.2);
}

.toggle-button:selected{
    -fx-background-color:  rgba(255, 28, 28, 0.2);
    -fx-cursor: default;
}

.lblDateNow {
    -fx-font-weight: bold;
}

.solid-container {
    -fx-background-color: white;
}

.button {
    -fx-background-color: #b4b4b4;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-background-radius: 3px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-opacity: 0.8;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-background-radius: 3px;
    -fx-cursor: hand;
}

#cameraButton {
    -fx-background-radius: 50px;
}

.dashboardText {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
}

#emailText {
    -fx-font-family: "Noto Sans";
    -fx-font-style: italic;
    -fx-text-fill: grey;
    -fx-font-weight: normal;
    -fx-wrap-text: true;
}

.dashboardPanes {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 0, 2.0);
}

.dashboardPaneText {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-text-fill: #9c0000;
}

.label {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
}

#semesterCurrent {
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-text-fill: #9c0000;
}

#dashPaneSubText {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.fields {
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}

.profileFields {
    -fx-font-weight: normal;
    -fx-font-size: 20px;
}

.titleText {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-text-fill: #9c0000;
    -fx-font-size: 35px;
}


/* admin page */

.rootPane .table-view .column-header-background{
    -fx-background-color: #9c0000;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.rootPane .table-view .column-header {
    -fx-background-color: #9c0000;
}
.rootPane  .table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.rootPane .table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.rootPane .table-view .virtual-flow .scroll-bar:vertical,
.rootPane .table-view .virtual-flow .scroll-bar:vertical .track,
.rootPane .table-view .virtual-flow .scroll-bar:vertical .track-background,
.rootPane .table-view .virtual-flow .scroll-bar:horizontal,
.rootPane .table-view .virtual-flow .scroll-bar:horizontal .track,
.rootPane .table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #C0C0C0;
}

.rootPane .table-view .virtual-flow .scroll-bar .increment-button,
.rootPane .table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.rootPane .table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #808080;
}
.rootPane .table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #808080;
}

.rootPane .table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.rootPane .table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.rootPane .table-row-cell:selected {
    -fx-background-color: #c7c7c7;
    -fx-text-fill: black;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 8px;
}



#cmb-transaction text-field:focused {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-prompt-text-fill: rgba(255, 0, 0, 0.5) ;

}

#navBar {
    -fx-background-color:  rgba(156, 0, 0, 0.8);
}

#cmbSelectTableCategory .list-cell, #cmbSelectTableCategory {
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-border-color: none;
}

#cmbSelectTableCategory .list-view .list-cell {
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
}

#cmbSelectTableCategory .arrow-button {
    -fx-background-color: #7C0601;
}

#cmbSelectTableCategory .text {
    -fx-font-size: 13px;
}

#cmbSelectTableCategory .list-view {
    -fx-control-inner-background: #7C0601;
    -fx-opacity: 0.95;
    -fx-translate-x: 176px;
    -fx-translate-y: -35px;
    -fx-text-fill: white;
}

#cmbSelectTableCategory .list-view .list-cell:hover {
    -fx-opacity: 0.7;
}

.btn-red {
    -fx-background-color: #B9122C;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.btn-green {
    -fx-background-color:  #32A826;
    -fx-border-color: white;
    -fx-text-fill: white;
}
.btn-orange {
    -fx-background-color: #FF7F00;
    -fx-border-color: white;
    -fx-text-fill: white;

}
.btn-blue{
    -fx-background-color: #2537A3;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.txt-tuition {
    -fx-font-family: "Times New Roman";
}