/* Login */

#PLMText {
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
}

#PLMTextEnglish {
    -fx-font-family: Arial;
    -fx-font-weight: normal;
}

.loginContainer {
    -fx-background-color:  rgba(255, 255, 255, 0.90);
    -fx-background-radius:  15px;
}

#welcome {
    -fx-font-size: 40px;
}

.loginText {
    -fx-font-family: Arial;
}

.onPLMContainer {
    -fx-background-color:  rgba(255, 255, 255, 0.5);
    -fx-background-radius: 50px;
}

#loginButton {
    -fx-background-color: black;
}

/* Student Dashboard */

.gridPane {
    -fx-background-color:  rgba(156, 0, 0, 0.8);
}

.toggle-button, #logoutButton {
    -fx-background-color:  rgba(156, 0, 0, 0.0);
    -fx-font-weight: bold;
    -fx-font-family: "Noto Sans";
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

.toggle-button:hover, #logoutButton:hover {
    -fx-background-color:  rgba(255, 28, 28, 0.2);
}

.toggle-button:selected{
    -fx-background-color:  rgba(255, 28, 28, 0.2);
    -fx-cursor: default;
}

.lblDateNow {
    -fx-font-weight: bold;
}

.solid-container {
    -fx-background-color: white;
}

.button {
    -fx-background-color: grey;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

#cameraButton {
    -fx-background-radius: 50px;
}

.dashboardText {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
}

#emailText {
    -fx-font-family: "Noto Sans";
    -fx-font-style: italic;
    -fx-text-fill: grey;
    -fx-font-weight: normal;
    -fx-wrap-text: true;
}

.dashboardPanes {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect:  dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 0, 2.0);
}

.dashboardPaneText {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-text-fill: #9c0000;
}

.label {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
}

#semesterCurrent {
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-text-fill: #9c0000;
}

#dashPaneSubText {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.fields {
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}

.profileFields {
    -fx-font-weight: normal;
    -fx-font-size: 20px;
}


.titleText {
    -fx-font-family: "Noto Sans";
    -fx-font-weight: bold;
    -fx-text-fill: #9c0000;
    -fx-font-size: 35px;
}


/* admin page */
